.tab {
    display: inline-block;
    width: fit-content;
    height: 15px;
    text-align: center;
    line-height: 15px;
    border-style: none;
    border-width: 2px;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    font-family: "montserrat","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    color: var(--color5);
}

.tab:hover{
    background-color: var(--color3);
    color: var(--color4);
    border-color: var(--color3);
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}